@import url("https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap");

#section3 {
  background: url("../pictures/dots.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 0;
}

#bottom {
  position: absolute;
  bottom: 20;
  right: 0;
  margin: 10px;
  border-radius: 10px;
  color: #fff;
  border: solid #000 4px;
}
#topHome {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
  border-radius: 10px;
  color: #fff;
  border: solid black 4px;
}

.containerSvgAndAudio {
  position: absolute;
  display: grid;
  grid-template-areas: "superWoman audioFiles seinfeld";
  background-color: rgb(31, 29, 29);
  left: 50%;
  top: 50%;
  width: 90%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
}
.shade {
  animation: slide 6s ease-in-out infinite alternate;
  background-image: linear-gradient(
    -60deg,
    rgba(233, 22, 187, 0.656) 50%,
    gold 50%
  );
  bottom: 0;
  left: -25%;
  opacity: 0.8;
  position: fixed;
  right: -25%;
  top: 0;
  z-index: -1;
}
.shade-2 {
  animation-direction: alternate-reverse;
  animation-duration: 7s;
}

.shade-3 {
  animation-duration: 7s;
}

@keyframes slide {
  0% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(10%);
  }
}

svg {
  position: relative;
  grid-area: superWoman;
  margin: 8px;
  width: 85%;
  left: 10px;
  top: 19px;
}
.innerAudio {
  grid-area: audioFiles;
  position: relative;

  padding: 1px;
  width: 320px;
  height: 282px;
  top: 20px;
}
.seinfeldList {
  position: relative;
  grid-area: seinfeld;
  background-color: beige;
  border-radius: 10px;
  box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px,
    rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px,
    rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px,
    rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px,
    rgb(255, 85, 85) 40px -40px;
}
ul {
  list-style-type: none;
  animation: 2s ease-in appear;
}
li {
  letter-spacing: 1px;
  margin: 11px;
  color: #fff;
  font-family: "UnifrakturCook", cursive;
  text-align: center;
  border-radius: 10px;
}
#bus {
  background-color: darkcyan;
}
#letter {
  background-color: rgb(194, 194, 65);
}
#handy {
  background-color: rgb(207, 207, 27);
}
#bris {
  background-color: rgb(146, 74, 146);
}
#conv {
  background-color: rgb(42, 134, 42);
}
#stall {
  background-color: darkcyan;
}
#fire {
  background-color: rgb(183, 101, 46);
}
#slice {
  background-color: gold;
}
#library {
  background-color: rgb(30, 30, 133);
}
#merv {
  background-color: orange;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: rotateY(-180deg);
    transition: all 0.5s cubic-bezier(0.8, -0.64, 0.34, 1.76);
  }
  to {
    opacity: 1;
  }
}

#woman {
  animation: fly 5s infinite alternate;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes fly {
  from {
    translate: translateY(84px);
  }
  to {
    transform: translateY(0px);
  }
}

#sun {
  transform-origin: center;

  animation: zoom 5s infinite alternate;
  opacity: 0.85;
  stroke-dasharray: 100;
}

@keyframes zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.5);
  }
}

#cape {
  transform-origin: center;
  stroke-dasharray: 100;
  animation: dash 10s infinite alternate;
}

@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}

audio {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}

#audioOne {
  position: relative;
  height: 70px;
  width: 312px;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 3px solid rgb(210, 182, 23);
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #d80286;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

#audioTwo {
  position: relative;
  height: 70px;
  width: 312px;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 3px solid rgb(189, 79, 35);
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #d80286;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}
#audioThree {
  position: relative;
  height: 70px;
  width: 312px;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 3px solid rgb(221, 197, 59);
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #d80286;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}
#audioFour {
  position: relative;
  height: 70px;
  width: 312px;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 3px solid rgb(189, 79, 35);
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #d80286;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

#audioOne:hover {
  box-shadow: inset 0 100px 0 0 #92286a;
}
#audioTwo:hover {
  box-shadow: inset 0 0 80px 0 #399497;
}
#audioThree:hover {
  box-shadow: inset 400px 0 0 0 #332892;
}
#audioFour:hover {
  box-shadow: inset 400px 50px 0 0 #924a28;
}
