@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Courgette&family=Potta+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@800&display=swap");
body {
  margin: 0;
  font-family: "Merriweather", serif;
  background-color: rgb(117, 99, 233);
}
.landing__container {
  margin: 10px;
  position: absolute;
  top: 48%;
  left: 30%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 40%;
  height: 80%;
  font-family: "Roboto" cursive;
  border-radius: 15px;
}
.navbar__menu {
  position: relative;
  height: 85px;
  width: 90%;
  margin: 10px;
  transform: skewX(9deg);
}

#title {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  height: 85px;

  background-color: #66b066;
}
h3 {
  position: relative;
  font-size: 35px;
  left: 2%;
  top: 20%;
  font-family: "Potta One", cursive;
}
.icons {
  position: relative;
  left: 50px;
  top: 12px;
  height: 62px;
}
.fa {
  padding: 10px;
  font-size: 30px;

  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover,
img:hover {
  opacity: 0.8;
  transform: scale(1.25);
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}
.fa-instagram {
  background: red;
  color: white;
}

.navbar__menu li {
  display: inline-block;

  color: #fff;
}
iframe {
  position: absolute;
  left: 68%;
}

#navbar__list {
  position: absolute;
  background: linear-gradient(to right, dodgerblue, slategray, gold);
  display: inline-block;
  width: 15%;
  right: 0;
  height: 85px;
}

.your-active-class {
  border-radius: 15px;
}

section {
  position: relative;
  min-height: 98vh;
  margin: 10px;
}
#nav-section1,
#nav-section2 {
  position: relative;
}
#nav-section1 {
  left: -5px;
  height: 85px;
}
#nav-section2 {
  left: 18px;
  top: -14px;
  height: 50px;
}

#section1 {
  background: url("../pictures/superman.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#section2 {
  background: url("../pictures/Kramer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.table-responsive {
  height: 90%;
}
th {
  font-family: "Audiowide", cursive;
}

td {
  font-family: "Courgette", cursive;
}

#top {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
  border-radius: 10px;
  color: #fff;
  border: solid #000 4px;
}

#items {
  width: 60px;
  height: 50px;
  border-radius: 12px;
}

#total-price {
  position: absolute;
  left: 15px;
  font-family: "Cinzel", serif;
}
