@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
body {
  background: #a2d7d8;
  padding: 0;
  margin: 0;
}

.container {
  display: grid;
  grid-template: auto 1fr auto / auto 1fr auto;
  height: 100vh;
  width: 100%;
}

#tom {
  font-family: "Special Elite", cursive;
  font-size: 30px;
  position: absolute;
  top: 6px;
  width: 50%;
}
header {
  background: lightpink;
  height: 13vh;
  padding: 2rem;
  grid-column: 1 / 4;
}
#cartPage {
  position: absolute;
  right: 30px;
  width: 10%;
  background-color: red;
  box-shadow: 0 5px 0 gold;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}
#cartPage:hover {
  background-color: #555;
}

main {
  height: 100vh;
  grid-column: 2 / 3;
}
#kramer {
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(2.5px);
  height: 100%;
  width: 100%;
}
.right-sidebar {
  background: yellow;
  grid-column: 3 / 4;
  padding: 2rem;
}
footer {
  background: wheat;
  padding: 16px;
  height: 35vh;
  text-align: center;
  grid-column: 1 / 4;
}
nav {
  height: 100%;
}
nav a,
nav img {
  display: block;
  margin: 11px;
  padding: 5px;
  align-items: center;
}
#facebookLogo,
#twitterLogo,
#instagramLogo {
  font-size: 30px;
}
#shoppingCart {
  top: 10px;
}
#shoppingCart:hover {
  cursor: pointer;
  transform: scale(1.16);
}
#footerContainer {
  display: flex;
  flex-wrap: wrap;
}
.cartLi span {
  background-color: teal;
  border-radius: 3px;
  color: #fff;
  font-size: 16px;
}
#copyright {
  font-family: "Bangers", cursive;
  color: darkolivegreen;
  font-size: 37px;
  border-color: tomato solid 2.5px;
  position: relative;
  width: 50%;
}
#maps {
  position: relative;
  width: 50%;
}
#menuGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  position: absolute;
  column-gap: 10px;
  row-gap: 10px;
  z-index: 1;
  left: 29px;
  margin-top: 12px;
}
#one {
  grid-column: 1/1;
}
#two {
  grid-column: 2/2;
}
#three {
  grid-column: 3/3;
}
#four {
  grid-column: 4/4;
}
.hydrated {
  font-size: 40px;
  color: steelblue;
}
#listItemCart {
  position: absolute;
  width: 50%;
  right: 0;
  list-style-type: none;
}

.imageItem {
  background: khaki;
}
h4 {
  font-size: 15px;
}
.priceItem {
  color: #000;
}
.add-cart {
  transition: 0.3s ease-in-out;
  text-align: center;
}
.cart1,
.cart2,
.cart3,
.cart4,
.cart5,
.cart6,
.cart7,
.cart8,
.cart9,
.cart10,
.cart11:hover {
  color: #fff;
  cursor: pointer;
}
