body {
  position: absolute;
  margin: 0;
  padding: 0;
  background: beige;
}

#flex-container {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.container {
  position: fixed;
  height: 490px;
  left: 300px;
  width: 828px;
  /* background: url("/Users/tommydates/Desktop/Seinfeld-Restaurant/src/pictures/toms-restaurant.jpg"); */
  background-size: cover;
  border: 3px solid #ffffff;
}
.container2 {
  position: fixed;
  height: 385px;
  left: 300px;
  width: 827px;
  top: 490px;
  background-color: dodgerblue;
  border: 3px solid #ffffff;
}
li {
  list-style-type: none;
  font-size: 2em;
  position: relative;
}

.container3 {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: black;
  border: 3px solid #ffffff;
}
#formContainer {
  position: absolute;
  width: 250px;
  top: 284px;
  height: 173px;
  background-color: springgreen;
}
#masterForm {
  position: absolute;
  padding: 10px;
}
input {
  width: 200px;
  height: 30px;
}

.banner {
  background-color: slategrey;
  height: 249px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  margin: 0;
  color: transparent;
  font-size: 120px;
  transform: rotate(14deg);
  background-image: url("/Users/tommydates/Desktop/Seinfeld-Restaurant/src/pictures/toms-restaurant.jpg");
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-background-clip: text;
}

.fa:hover {
  transform: scale(1.5);
}
#icon-container > .fa {
  top: 20px;
  margin: 20px;
  font-size: 2em;
}

.iframe {
  left: 10px;
}

#audioSection {
  position: absolute;
  top: 40px;
  left: 410px;
  width: 300px;
  height: 232px;
  background-color: slategrey;
  border-radius: 15px;
}

#myList {
  position: absolute;
  width: 300px;
  height: 347px;
  margin: 15px;
}
.listStyle {
  position: absolute;
  width: 300px;
  height: 40px;
  background: slategray;
  color: beige;
  list-style-type: none;
  display: block;
  margin: 10px;
}
